{%extends 'base.html'%}
{% block title %} Book {%endblock%}

{%block styles%}
<style>
    .input_board{
        display: block;
        text-align: center;
        margin-top: 7%;
    }

    .ingredients{
        margin-top: 7%;
        height: 5%;
        width: 30%;
        font-size: 120%;
        border-radius: 5px;
        font-weight: bold;
    }

    .find{
        margin-top: 7%;
        width: 10%;
        height: 5%;
        font-size: 120%;
        font-weight: bold;
        color: #f9f7f3;
        background-color: #f7a072;
        border-radius: 10px;
        border-color: #f7a072;
    }

    .find:hover{
        background-color: #d0a070;
        border-color: #d0a070;
    }

    .up{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{%endblock%}

{%block content%}
<div class = 'input_board'>
    <div class = 'up'>
        <a href = '/' class = 'back'>< Back</a>
        <h1>{{ book }}</h1>
    </div>
    
    <h1>Write ingredient(s). ('all' for all recipes)</h1>
    <form method="POST" action = '/recipes'>
        <input 
            type="text" 
            class="ingredients" 
            name="ingredients" 
            placeholder="In the form: first, second, ...">
        <button type='submit' class='find' onclick="redirectToProgrammingHead('/recipes')">Find</button>
    </form>
</div>
{%endblock%}