{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block styles%}
<style>
    .book{
        display: block;
        background-color: #f7a072;
        color: #f9f7f3;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        margin: auto;
        margin-bottom: 3%;
        width: 17%;
        font-weight: bold;
        font-size: 120%;
    }

    .book:hover{
        background-color: #d0a070;
    }

    .books{
        text-align: center;
    }

    .books h1{
        margin-bottom: 3%;
        margin-top: 3%;
    }
</style>
{%endblock%}

{% block content %}
<div class='books'>
    <h1>Which book would you prefer?</h1>
    {% for k, v in books.items() %}
        <button type='button' class='book' onclick="redirectToProgrammingHead('/book'); submitForm('{{ k }}');">{{ v }}</button>
    {% endfor %}
    <form id="myForm" method='POST' action="/book">
        <input type="hidden" id="hidden" name="name">
    </form>

    <script>
        function submitForm(value) {
            document.getElementById("hidden").value = value;
            document.getElementById("myForm").submit();
        }
    </script>
</div>
{% endblock %}



